@charset "UTF-8";

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 200px;
  margin: auto;

}

.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer{
  background-color: #FEF2BF;
  text-align: center;
  margin-top: 25px;
  padding: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
}

footer a{
  text-decoration: none;
  color: #011F3F;
  margin: 0px;
}

footer a:hover{
  font-weight: bolder;
}
